.loader-page {
  max-width: 100vw;
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
  z-index: 199999;
  position: fixed;
  .wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    .loader-content {
      position: relative;
      margin: auto;
      border-radius: 20px;
      max-width: 100vw;
      width: 100vw;
      max-height: 100vh;
      height: 100vh;
      z-index: 0;
      background-color: rgba($color: $black, $alpha: 0.85);
      flex-direction: column;
      h1 {
        color: $secondary-light;
      }
    }
  }
  &.hide-loader {
    z-index: -1;
    display: none;
    visibility: hidden;
  }
}
