@import url("https://fonts.googleapis.com/css2?family=Anton&family=Be+Vietnam&family=Bebas+Neue&family=Big+Shoulders+Stencil+Text&family=DM+Sans&family=Homenaje&family=Staatliches&family=Timmana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
p {
  margin-bottom: 0rem !important;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-start-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-end-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-between-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-between-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-arround-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-arround-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-arround-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-evenly-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-evenly-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-center-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-center-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.flex-center-arround {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.default {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header {
  max-width: 100vw;
  width: 100%;
  max-height: 70px;
  height: 100%;
  z-index: 1032;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header .wapper_header {
  background-color: #000b1a;
  border-bottom: 1px inset #00678f;
  padding: 0.55rem 2rem;
}

@media (max-width: 48em) {
  header .wapper_header {
    padding: 0.55rem 1rem;
  }
}

header .wapper_header .title-app {
  font-family: "Orbitron", cursive;
  font-weight: 850;
  margin: 0;
  color: #00678f;
}

header .wapper_header .user-container {
  display: inherit;
  visibility: visible;
}

header .wapper_header .user-container .wrapper {
  padding: 1rem 1.15rem;
}

@media (max-width: 48em) {
  header .wapper_header .user-container .wrapper {
    padding: 0;
  }
}

header .wapper_header .user-container .wrapper .user-profile-pick {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

header .wapper_header .user-container .wrapper .user-profile-pick .user-pick {
  position: relative;
  margin: auto;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: 2px solid #00678f;
}

header .wapper_header .user-container .wrapper .user-profile-data {
  padding: 0 10px;
  text-align: center;
}

@media (max-width: 48em) {
  header .wapper_header .user-container .wrapper .user-profile-data {
    visibility: hidden;
    display: none;
  }
}

header .wapper_header .user-container .wrapper .user-profile-data .user-profile-owner {
  font-size: 12px;
  color: #00678f;
}

header .wapper_header .user-container .wrapper .user-profile-data .user-profile-type {
  font-weight: 650;
  font-size: 16px;
  color: #2a95bf;
}

header .wapper_header .user-container .wrapper .user-action-buttons {
  padding: 10px 15px;
}

@media (max-width: 48em) {
  header .wapper_header .user-container .wrapper .user-action-buttons {
    padding: 0;
  }
}

header .wapper_header .user-container .wrapper .user-action-buttons .icon-action {
  margin: 0 5px;
  cursor: pointer;
}

@media (max-width: 48em) {
  header .wapper_header .user-container .wrapper .user-action-buttons .icon-action {
    margin: auto;
  }
}

header .wapper_header .user-container .wrapper .user-action-buttons .icon-action i {
  font-size: 16px;
  color: #00678f;
}

header .wapper_header .user-container .wrapper .user-action-buttons .icon-action:hover {
  opacity: 0.55;
}

header .wapper_header .user-container.hidden-container {
  display: none;
  visibility: hidden;
}

header .wapper_header .not-user-container {
  cursor: pointer;
}

header .wapper_header .not-user-container .wrapper {
  padding: 6px 20px;
  background-color: rgba(42, 149, 191, 0.45);
  border: 1px solid #2a95bf;
  border-radius: 10px;
  color: #ebf2ff;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

@media (max-width: 48em) {
  header .wapper_header .not-user-container .wrapper {
    padding: 6px 10px;
  }
}

header .wapper_header .not-user-container .wrapper p {
  font-weight: 650;
  font-size: 16px;
}

@media (max-width: 48em) {
  header .wapper_header .not-user-container .wrapper p {
    font-size: 12px;
  }
}

header .wapper_header .not-user-container .wrapper .icon-action {
  margin: 0 5px;
  font-size: 16px;
}

header .wapper_header .not-user-container:hover .wrapper {
  background-color: rgba(42, 149, 191, 0.25);
}

.loader-page {
  max-width: 100vw;
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
  z-index: 199999;
  position: fixed;
}

.loader-page .wrapper {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loader-page .wrapper .loader-content {
  position: relative;
  margin: auto;
  border-radius: 20px;
  max-width: 100vw;
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
  z-index: 0;
  background-color: rgba(0, 11, 26, 0.85);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loader-page .wrapper .loader-content h1 {
  color: #ffc55b;
}

.loader-page.hide-loader {
  z-index: -1;
  display: none;
  visibility: hidden;
}

.ct-chart .ct-axis-title {
  fill: #ebf2ff;
}

.ct-chart .ct-label {
  color: #ebf2ff;
  font-weight: 650;
  font-size: 0.55rem;
}

.ct-chart .ct-grid {
  stroke: rgba(235, 242, 255, 0.07);
}

.ct-chart .ct-bar {
  stroke: #e69429;
}

.ct-chart .ct-point {
  stroke-width: 1px;
}

.ct-chart .ct-series-a .ct-line,
.ct-chart .ct-series-a .ct-point {
  stroke: #ffc55b;
}

.ct-chart .ct-series-b .ct-line,
.ct-chart .ct-series-b .ct-point {
  stroke: #e69429;
}

.ct-chart .ct-series-c .ct-line,
.ct-chart .ct-series-c .ct-point {
  stroke: #af6600;
}

.ct-chart .ct-legend {
  position: relative;
  z-index: 10;
  min-width: 15%;
}

.ct-chart .ct-legend li {
  position: relative;
  padding-left: 23px;
  margin: 10px;
  display: inline-block;
  color: #ebf2ff;
  cursor: pointer;
}

.ct-chart .ct-legend li:before {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  content: "";
  border: 3px solid transparent;
  border-radius: 50%;
}

.ct-chart .ct-legend li.inactive:before {
  background: transparent;
}

.ct-chart .ct-legend.ct-legend-inside {
  position: absolute;
  top: 0;
  right: 0;
}

.ct-chart .ct-legend .ct-series-0:before {
  border-color: #f5c505;
}

.ct-chart .ct-legend .ct-series-1:before {
  border-color: #e88d07;
}

.ct-chart .ct-legend .ct-series-2:before {
  border-color: #857555;
}

.ct-chart .ct-legend .ct-series-3:before {
  border-color: #d17905;
}

.ct-chart .ct-legend .ct-series-4:before {
  border-color: #453d3f;
}

.ct-chart .ct-legend .ct-series-5:before {
  border-color: #59922b;
}

.ct-chart .ct-legend .ct-series-6:before {
  border-color: #0544d3;
}

.ct-chart .ct-legend .ct-series-7:before {
  border-color: #000000;
}

.ct-chart .ct-legend .ct-series-8:before {
  border-color: #f05b4f;
}

.ct-chart .ct-legend .ct-series-9:before {
  border-color: #dda458;
}

.ct-chart .ct-legend .ct-series-10:before {
  border-color: #eacf7d;
}

.ct-chart .ct-legend .ct-series-11:before {
  border-color: #86797d;
}

.ct-chart .ct-legend .ct-series-12:before {
  border-color: #b2c326;
}

.ct-chart .ct-legend .ct-series-13:before {
  border-color: #6188e2;
}

.ct-chart .ct-legend .ct-series-14:before {
  border-color: #a748ca;
}

.ct-chart.ct-small-chart .ct-grid {
  stroke: transparent;
}

.ct-chart.ct-small-chart .ct-label {
  visibility: hidden;
  display: none;
}

.single-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 5px 3px;
}

.single-card .card {
  background-color: rgba(208, 226, 255, 0.3);
  border: 2px solid #af6600;
  border-radius: 20px;
  padding: 10px 8px;
  width: 100%;
}

.single-card .card .card-body {
  padding: 15px 1rem;
}

.single-card .card .card-body .card-title {
  color: #ebf2ff;
  font-weight: 650;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.single-card .card .card-body .card-metadata {
  padding-bottom: 5px;
  border-bottom: 1.5px solid #e69429;
}

.single-card .card .card-body .card-metadata .card-time {
  font-size: 16px;
  font-weight: 300;
  color: #d0e2ff;
  text-transform: capitalize;
  text-align: start;
}

.single-card .card .card-body .card-metadata .metadata-session {
  margin: 10px 0;
}

.single-card .card .card-body .card-metadata .metadata-session .metadata-item {
  cursor: default;
}

.single-card .card .card-body .card-metadata .metadata-session .metadata-item:not(:last-child) {
  margin-right: 5px;
}

.single-card .card .card-body .card-metadata .metadata-session .metadata-item .wrapper {
  position: relative;
}

.single-card .card .card-body .card-metadata .metadata-session .metadata-item .wrapper .data-item {
  border: 2px solid rgba(175, 102, 0, 0.73);
  background-color: #e69429;
  border-radius: 10px;
  color: #ebf2ff;
  font-size: 12px;
  padding: 5px 10px;
}

.single-card .card .card-body .card-metadata .metadata-session .metadata-item .wrapper .data-tooltip {
  position: absolute;
  top: -4rem;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  opacity: 0;
  z-index: -10;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
  padding: 0 30px;
}

.single-card .card .card-body .card-metadata .metadata-session .metadata-item .wrapper .data-tooltip span {
  position: relative;
  display: inline-block;
  color: #ebf2ff;
  font-size: 12px;
  text-align: center;
  background-color: #e69429;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  border: 1.55px solid #af6600;
}

.single-card .card .card-body .card-metadata .metadata-session .metadata-item .wrapper .data-tooltip span::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%) rotate(45deg);
          transform: translate(-50%, 50%) rotate(45deg);
  background-color: #e69429;
  border: 9px solid transparent;
}

.single-card .card .card-body .card-metadata .metadata-session .metadata-item:hover .wrapper .data-tooltip {
  opacity: 1;
  z-index: inherit;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.single-card .card .card-body .card-actions {
  width: 100%;
  margin-top: 1rem;
}

.single-card .card .card-body .card-actions .btn {
  font-size: 12px;
}

.single-card .card .card-body .card-actions .btn:not(:last-child) {
  margin-right: 5px;
}

.single-card .card .card-body .card-actions .btn.btn-details {
  background-color: #ebf2ff;
  color: #2a95bf;
}

.single-card .card .card-body .card-actions .btn.btn-delete {
  background-color: red;
  color: #ebf2ff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #000b1a;
  font-family: "Be Vietnam", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #2a3340;
}

body main {
  max-width: 100vw;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #000b1a;
  margin-top: 70px;
  position: relative;
}

body main .content {
  padding: 1rem 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 48em) {
  body main .content {
    padding: 0.55rem 1rem;
  }
}

body main .content .sessions-row {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
}

body main .content .sessions-row .title-section {
  color: #68c6f2;
  padding-bottom: 1rem;
  font-weight: 650;
}

body main .content .sessions-row .wrapper-sessions {
  padding: 0.55rem 0;
}

@media (max-width: 48em) {
  body main .content .sessions-row .wrapper-sessions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body main .content .sessions-row .wrapper-sessions .summary-filter {
  margin: 0 5px;
  min-width: 300px;
}

@media (max-width: 48em) {
  body main .content .sessions-row .wrapper-sessions .summary-filter {
    width: 100%;
    margin: 10px 0;
  }
}

body main .content .sessions-row .wrapper-sessions .summary-filter .content {
  background-color: rgba(208, 226, 255, 0.3);
  border: 2px solid #af6600;
  border-radius: 20px;
  padding: 10px 8px;
  position: relative;
  overflow: hidden;
}

body main .content .sessions-row .wrapper-sessions .summary-filter .content .icon-overlay {
  z-index: 0;
  top: 5rem;
}

@media (max-width: 48em) {
  body main .content .sessions-row .wrapper-sessions .summary-filter .content .icon-overlay {
    top: 3rem;
  }
}

body main .content .sessions-row .wrapper-sessions .summary-filter .content .icon-overlay i {
  color: rgba(175, 102, 0, 0.73);
  font-size: 6rem;
}

body main .content .sessions-row .wrapper-sessions .summary-filter .content .title-summary {
  z-index: 1;
  color: #ebf2ff;
}

body main .content .sessions-row .wrapper-sessions .summary-filter .content .summary-content {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body main .content .sessions-row .wrapper-sessions .summary-filter .content .summary-content .summary-auxiliar {
  padding-bottom: 0.85rem;
  margin-left: 10px;
  color: #d0e2ff;
}

body main .content .sessions-row .wrapper-sessions .summary-filter .content .summary-value {
  z-index: 1;
  font-size: 4rem;
  font-weight: 650;
  color: #d0e2ff;
}

@media (max-width: 48em) {
  body main .content .sessions-row .wrapper-sessions .summary-filter .content .summary-value {
    font-size: 3rem;
  }
}

body main .content .sessions-row .wrapper-sessions .session-filter {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .content .sessions-row .wrapper-sessions .session-filter:not(:first-child) {
  margin: 2rem 0;
}

body main .content .sessions-row .wrapper-sessions .session-filter .header-session-filter {
  width: 100%;
}

@media (max-width: 48em) {
  body main .content .sessions-row .wrapper-sessions .session-filter .header-session-filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body main .content .sessions-row .wrapper-sessions .session-filter .title-filter {
  color: #68c6f2;
  margin-bottom: 2rem;
}

body main .content .sessions-row .wrapper-sessions .session-filter .input-group {
  max-width: 400px;
  min-height: 30px;
  background-color: rgba(208, 226, 255, 0.3);
  border: 2px solid #af6600;
  border-radius: 10px;
}

@media (max-width: 48em) {
  body main .content .sessions-row .wrapper-sessions .session-filter .input-group {
    max-width: 100%;
    margin-bottom: 3rem;
  }
}

body main .content .sessions-row .wrapper-sessions .session-filter .input-group .input-group-prepend {
  min-height: 30px;
}

body main .content .sessions-row .wrapper-sessions .session-filter .input-group .input-group-prepend span {
  height: 100%;
  background-color: transparent;
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

body main .content .sessions-row .wrapper-sessions .session-filter .input-group .input-group-prepend span i {
  color: #e69429;
}

body main .content .sessions-row .wrapper-sessions .session-filter .input-group input {
  background-color: transparent;
  border: none;
  color: #e69429;
}

body main .content .sessions-row .wrapper-sessions .session-filter .input-group input::-webkit-input-placeholder {
  color: #ffc55b;
}

body main .content .sessions-row .wrapper-sessions .session-filter .input-group input:-ms-input-placeholder {
  color: #ffc55b;
}

body main .content .sessions-row .wrapper-sessions .session-filter .input-group input::-ms-input-placeholder {
  color: #ffc55b;
}

body main .content .sessions-row .wrapper-sessions .session-filter .input-group input::placeholder {
  color: #ffc55b;
}

body main .content .sessions-row .wrapper-sessions .session-filter .input-group input:focus, body main .content .sessions-row .wrapper-sessions .session-filter .input-group input:active {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body main .content .sessions-row .wrapper-sessions .session-filter .grid-filter-list {
  width: 100%;
  padding-bottom: 3rem;
}

body main .content .sessions-row .wrapper-sessions .session-filter .grid-filter-list .swiper-pagination {
  position: absolute;
  bottom: 0;
}

body main .content .sessions-row .wrapper-sessions .session-filter .grid-filter-list .swiper-pagination .swiper-pagination-bullet {
  background-color: #d0e2ff;
}

body main .content .sessions-row .wrapper-sessions .session-filter .grid-filter-list .swiper-button-prev,
body main .content .sessions-row .wrapper-sessions .session-filter .grid-filter-list .swiper-button-next {
  top: 40%;
}

body main .content .sessions-row .wrapper-sessions .session-filter .grid-filter-list .filter-item .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(208, 226, 255, 0.3);
  border: 2px solid #af6600;
  border-radius: 20px;
}

body main .content .sessions-row .wrapper-sessions .session-filter .grid-filter-list .filter-item .content .filter-title {
  color: #ebf2ff;
  text-transform: uppercase;
  font-weight: 650;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95%;
}

body main .content .sessions-row .wrapper-sessions .session-filter .grid-filter-list .filter-item .content .metadata-filter {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .content .sessions-row .wrapper-sessions .session-filter .grid-filter-list .filter-item .content .metadata-filter .metadata-item {
  color: #ebf2ff;
}

body main .content .sessions-row .wrapper-sessions .session-filter .grid-filter-list .filter-item .content .metadata-filter .metadata-item small {
  color: #d0e2ff;
}

body main .content .sessions-row .wrapper-sessions .session-filter .grid-filter-list .filter-item .content .filter-actions {
  width: 100%;
  margin-top: 1rem;
}

@media (max-width: 48em) {
  body main .content .sessions-row .wrapper-sessions .session-filter .grid-filter-list .filter-item .content .filter-actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body main .content .sessions-row .wrapper-sessions .session-filter .grid-filter-list .filter-item .content .filter-actions .btn {
  font-size: 12px;
}

@media (max-width: 48em) {
  body main .content .sessions-row .wrapper-sessions .session-filter .grid-filter-list .filter-item .content .filter-actions .btn {
    width: 100%;
  }
  body main .content .sessions-row .wrapper-sessions .session-filter .grid-filter-list .filter-item .content .filter-actions .btn:not(:last-child) {
    margin-bottom: 5px;
    margin-right: 0px;
  }
}

body main .content .sessions-row .wrapper-sessions .session-filter .grid-filter-list .filter-item .content .filter-actions .btn:not(:last-child) {
  margin-right: 5px;
}

body main .content .sessions-row .wrapper-sessions .session-filter .grid-filter-list .filter-item .content .filter-actions .btn.btn-details {
  background-color: #ebf2ff;
  color: #2a95bf;
}

body main .content .sessions-row .wrapper-sessions .session-filter .grid-filter-list .filter-item .content .filter-actions .btn.btn-delete {
  background-color: red;
  color: #ebf2ff;
}

body main .content .sessions-row .wrapper-sessions .session-filter .grid-filter-list .filter-item.hide {
  display: none;
  visibility: hidden;
}

body main .modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

body main .modal .modal-content {
  max-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #000b1a;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

body main .modal .modal-content .modal-button-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
}

body main .modal .modal-content .modal-button-close i {
  color: #ebf2ff;
}

body main .modal .modal-content .modal-title {
  color: #ebf2ff;
  font-weight: 650;
  text-transform: capitalize;
}

body main .modal .modal-content .grid-modal-filter {
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 85%;
  margin: 0 auto;
}

body main .modal.modal-show {
  display: block;
  z-index: 1034;
}
/*# sourceMappingURL=main.css.map */